* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    outline: none;
}

body {
    background-color: #ffffff;
}

.gif-video {
    width: 220px;
    display: block;
    margin: 20px auto;
}

main {
    background-color: #005A5B;
    width: 375px;
    border-radius: 20px;
    margin: 0 auto;
    padding: 44px 24px 30px;
}

label {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    background-color: #FFFFFF;
    width: 327px;
    height: 48px;
    margin: 8px 0 24px 0;
    border-radius: 4px;
    border: 1px solid #02A676;
    font-weight: 700;
    font-size: 16px;
    padding: 14px 16px;
    color: #555555;
}

input {
    cursor: pointer;
    margin: 8 0 24px;
}

button {
    background-color: #02A676;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}
button:active{
    opacity: 0.5;
}

section {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 36px;
    width: 100%;
    padding: 10px;
    border: 2px solid #008C72;
    border-radius: 20px;
}

.arrow-img {
    height: 80px;
}
.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    line-height: 18px;
}
.currency {
     color: #cccccc;
     font-size: 14px;
}
.currency-value {
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

